.form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: rgb(130, 133, 141);
    margin-bottom: 20px;
    /* border-radius: 3px;
    border-color: black;
    border-style: solid;
    overflow: hidden; */
  }
  
  .button {
    display: inline-block;
    width: 150px;
    height: 40px;
    border-radius: 3px;
    border-color: orange;
    border-style: solid;
    background-image: url('/src/image/magnifying-glass-svgrepo-com.svg');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(130, 133, 141);
    /* opacity: 0.6; */
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    /* outline: none; */
  }
  
  .button:hover {
    opacity: 1;
    background-color: orange;
  }
  
  .buttonLabel {
    position: absolute;
    width: 100px;
    height: 10px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
  }
  
  .input {
    display: inline-block;
    width: 100%;
    height: 40px;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none; 
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 40px;
    background-color: rgb(130, 133, 141);
    border-radius: 3px;
    border-color: orange;
    border-style: solid;
  }
  
  .input::placeholder {
    font: inherit;
    font-size: 18px;
  }